.App {
  text-align: center;
  background-color: rgb(238, 235, 241);
  margin: 0;
}
*{
  font-family: 'Roboto Mono', monospace;
  margin:0;
  
}
body{
  font-size: 1.4em;
}


.form,.success, .text{
  margin:auto;
  width: 30%;
  display: flex;
  font-size: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.success{
  color: white;
}
  .visible{
    display: flex;
    margin-left: 35px;
    
  }
/* input{
  
} */
.home {
  background-color: rgb(81, 81, 124);
  background-size:cover;
  height:max-content; 
  min-height: 93vh;
  overflow-y:hidden;
}
#profile, #getwork, .profile{
background-color: rgb(81, 81, 124);
  background-size:cover;
  height:max-content; 
  min-height: 73vh;
} 
#profile .form {
  width:min-content;
  /* padding: 20px; */
}
#profile .form ul{
  padding-right: 50px;
}
.descript{
  color: white;

}
.profile button{
  width: 10vw !important ;
}
.home .description{
  z-index:1;
}
#btn a{
  color:rgb(81, 81, 124);
  background-color: beige;
  width: 40px;
  height: 10px;
}

#btn a:hover{
  background-color: black;
  color: white;
}
.button a{
  width: 100%;
}
.button{
  margin-bottom: 20px;
}

#getwork .form{
  left: 400px !important;
  top:200px;
  opacity: .8
}
#getwork .description{
  width: 100%;
  
}
ul {
  margin: 0;
  box-sizing: border-box;
  width: 90%;
    list-style: none;
}
#getwork li{
  margin: 20px;
}


section{
  position: relative;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.section{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.map{
  display:flex;
  flex-wrap: wrap;
  width: 20vw;
  background: rgb(34, 7, 7);
  color: white;
  margin: 10px;
  padding-bottom: 20px;
  align-content:center;
  
  
}
.errorMsg{
  /* padding: 0 0 40px 0; */
  background-color: rgb(81, 81, 124);
  color: white;
}
.map ul{
  /* margin: 0; */
  padding: 0;
}
.map li{
  align-items: center;
  padding-left:10px;
  width:100%;
  display: flex;
  justify-content: center;
  height: 7vh;
  text-decoration: none;
  list-style: none;
}
.map button{
  box-sizing: content-box;
  width: 10vw;
  margin-left: 25px;
}
section{
  margin-top: 90px;
  width:60%;
  opacity: 0.9;
  
}
.main{
  align-items: center;
  margin-left: 50px;
}
.button{
    border: none ;
    height: 30px;
    width: 70px;
    background-color: rgb(81, 81, 124);
    opacity: .4;
    color: white;
}
.button:hover{
  background-color: black;
  opacity: .4;
  color: white;
  border: none;
}
main{
  background: rgb(11, 2, 27);
  color: black;
  opacity: 0.7;
  width: 30vw;
  height: 45vh;
  position: relative;
  top: 100px;
  right: 80px;
  
}
.form .input{
  width: 250px;
  box-sizing:1px 1px #000  ;
}
.form1{
  display: flex;
  flex-direction: column;
  height: 100%;
  color: antiquewhite;
}
.homeInput{
  margin-bottom: 5px;
}
.inputWork{
  width: 90%;
  align-items: center;
  align-content: center;
  /* margin: 20px; */
  /* padding: 0 20px 0 20px; */
}
.formClass{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile form  {
  width: 35vw;
}
.profile .button{
  width: 100px;
  height: min-content;
}

.form1 input, .form input{
  margin: 5px;
  height: 40px;
  font-size: 1.0em;
  align-items: center;
  /* text-align: center; */
  border: none;
  opacity: .4;
}
.buttonLi{
  margin: 10px;
  cursor: pointer;
  width: 25vw;
}
.map a{
  background-color:white ;
  width: 100%;
  color: #000000;
  margin: 30px;
  padding: 0 15px 0 15px;
}
.map a:hover{
  background-color:rgb(67, 42, 126); 
  color: rgb(241, 241, 241);
}
 .link{
  width: 15vw;
  margin: 10px;
}
.form input, input{
    box-shadow: 2px #000;
}
.icon{
  margin: 10px 15px 0 10px;
}
.form{
  background-color: white;
  margin-bottom: 40px;
}
.form .description{
  background-color: rgb(7, 0, 14);
  color: rgb(96, 90, 131);
  font-size: 1.2em;
  width: 100%;
  opacity:.9
}
.form1 input{
margin: auto;
}
.form .input{
    width: 80%;

}
 .input1 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  width: 70%;
 }
.textColor{
  color:rgb(18, 78, 131);
  text-shadow: 2px;
}
input:focus { 
  outline: none !important;
  /* border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE; */
}

#nav{
 max-width : 100%;
 /* min-width : 1024px; */
}

.text{
 
  color: white;
  /* background-color: black; */
  height:50vh;
  width: 50%;
  opacity: 0.8;
  padding: 50px 50px 0px 50px;
}

#signup{
  margin: 0;
  background-color: rgb(81, 81, 124);
 background-size: cover;
}

.navBlock{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

a{
  text-decoration: none;
   color: rgb(248, 246, 244);
   /* font-size: large; */
}
.profile a:hover{
  color: rgb(130, 13, 141);
}

a:hover{
  color: rgb(216, 40, 40);
}

.nav { 
  background: black;
  color: white;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.btn{
  display: flex;
  flex-direction:row;
}


.none{
  display: none;
}
.user{
  cursor:pointer;
  font-size: 18px;
  padding-right: 7px;
}
.profile{
  display: flex;
  flex-direction: column;
}
.block{
  background:rgb(247, 247, 247);
  display: block ;
  position: absolute;
  top: 50px;
  width: 15vw;
  height: 10vh;
  gap: 5px;
  cursor: default;
  opacity:.5;
}
.block a{
  
  color: #0f0909;
  cursor: pointer;
}

.navlink, .display{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding-left: 30px;
 width:30%;
 cursor:pointer;
}
.signup{
  padding:5px;
  margin: 5px;
}

button {
  width: 80px;
  cursor: pointer;
  margin: 15px;
}
.buttonHome{
  cursor: pointer;
  margin: 15px;
  width: 60%;
}
#workout{
   padding-top: 5px;
   font-size: x-large;
}
#login, #signup, #getwork, .about{
  background-color: rgb(81, 81, 124);
  background-size: cover;
  display: flex;
  }
  .container{
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto; 
  }
  #login{
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about{
    min-height: 80vh;
  }
   #getwork, #profile{
    min-height:57vh;
    padding-top: 140px;
  }
  #login, #signup{
    min-height:57vh;
    padding-top: 90px;
  }
  .loginspan{
    width: 100%;
    margin: 15px;
  }
   a.loginlink {
    font-size: 1.0em;
    color: #2a85da;
  }
   a:hover{
    color:rgb(61, 61, 214);
  }
  #getwork ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 30%;
  }
  .ul{
    list-style: none;
    text-align: center;
  }
  #footer{
    margin: 0;
    background: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  #footer ul {
    width: 70%;
  }
  .footer{
    margin: 0;
    color: aliceblue;
    /* padding: 20px; */
  }
  .large.material-icons.primary{
    align-items: center;
    width: 100px;
  }
  .footerIcon{
    margin: 0;
    width: 100%;
    color: white;
  }
  #footerLogo{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%
  }
  
  
  a.navlink.active{
    color:blueviolet;
    border-bottom: solid blueviolet;
  }

  .about{
    background-size: cover;
    background-color: rgb(81, 81, 124);
    background-blend-mode: darken;
    margin:auto;
    align-items: center;
  }
  button .btnn{
    z-index: 1;
  }